.containerHero {
  width: 100%;
  max-width: 620px;
  text-align: center;

  > *:not(:first-child) {
    margin-top: 10px;
  }
}

.containerHeroText {
  max-width: 560px;
  margin: 0 auto;
}

.containerForm {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 320px;
  margin: 40px auto 0;

  > * + * {
    margin-top: 16px;
  }
}

.signIn {
  text-align: center;

  a {
    transition: opacity 250ms ease;

    &:hover {
      opacity: 80%;
    }
  }
}
